<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.handioq">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".fanshop.application.FanShopApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".fanshop.catalog.CatalogActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fanshop.login.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".fanshop.ui.signup.SignupActivity"
            android:label="@string/title_activity_signup" />
        <activity
            android:name=".fanshop.cart.CartActivity"
            android:label="@string/title_activity_cart"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fanshop.productinfo.ProductInfoActivity"
            android:label="@string/title_activity_productInfo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fanshop.account.AccountActivity"
            android:label="@string/title_activity_account"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fanshop.catalog.search.SearchActivity"
            android:label="@string/title_activity_search"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fanshop.categories.CategoriesActivity"
            android:label="@string/title_activity_categories"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fanshop.categories.subcategory.SubcategoryActivity"
            android:label="@string/title_activity_subcategory"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fanshop.ui.checkout.CheckoutActivity"
            android:label="@string/title_activity_checkout"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>